
<html>
<head>
    <title>登陆</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
    <h3>登陆</h3>
    <form action="/login" method="post">
        <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">

                <span class="input-group-text">用户名:</span>
            </div>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">

                <span class="input-group-text">密码:</span>
            </div>
            <input type="password" name="password" class="form-control">
        </div>
        <input type="submit" class="form-control">
        </div>
    </form>
</div>

</body>
</html>